@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-cmono: 'JetBrains Mono', monospace;
    --color-default: rgb(23, 23, 23);
    --color-card: rgb(39, 39, 42);
    --color-cred: rgb(242, 139, 130);
    --color-cgreen: rgb(129, 201, 149);
    --color-cyellow: rgb(250, 144, 62);
}

@layer base {
    :root {
        font-family: var(--font-cmono);
        background-color: var(--color-default);
    }

    body {
        color: white;
    }
}